# Supabase PostgreSQL Connection String
# Get this from Supabase Dashboard -> Green Connect Button -> ORMs -> Prisma / Direct Connection
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.ufbfdyuxhmhfbjwqvism.supabase.co:5432/postgres"

# JWT Secret Key
JWT_SECRET="abvfoods-secret-key-2026"
PORT=5000
